<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') -%>

<%- include('layouts/navbar') -%>

<body>
    <!--Main Navigation-->


  <!-- Background image -->
  <div
    id="intro"
    class="bg-image"
    style="
    background-image: url(https://media.istockphoto.com/photos/online-news-on-a-smartphone-and-laptop-woman-reading-news-or-articles-picture-id1219980553?b=1&k=20&m=1219980553&s=170667a&w=0&h=HGLxwS06WjWFl9TSEKwmRbPtz9AS4og49opQ_2uxYCk=);
    height: 40vh;
    "
    >
      <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.4);">
        <div class="container d-flex align-items-center text-center h-40">
          <div class="mt-5">
            <h1 class="mt-5 display-4">About</h1>
          </div>
        </div>
    </div>
  </div>
  <!-- Background image -->

  <div class="container mt-5 mb-2">
    <div class="row">
      <div class="col-md mt-3">
        <h1 class="display-5">From Them to You</h1>
        <hr />
        <p class="lead">
          Articles shared by others that post in the forum are only after 
          registeration ro logging in. Share news, stories, but keep it 
          entertaining. After all, that's why you're here.
        </p>
      </div>
      <div class="col-md mt-3">
        <img src="https://www.socialmediaexaminer.com/wp-content/uploads/2016/09/blog-post-listicle-example-1.png" 
          class="img-fluid shadow-2-strong rounded"
          alt="blog">
      </div>
    </div>
  </div>

  <!-- js -->
  <%- include('layouts/scripts') -%>
  <!-- footer -->
  <%- include('layouts/footer') -%> 
</body>
</html>